{% extends 'masterpage.html' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %} 

{% block body %}
    <h1>{{ title }}</h1>
    <p>{{ description }}.</p>
    <a href="{% url 'createUserAgent' %}">Create New Agent</a>
      <div id="form_post">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">?</th>
            </tr>
          </thead>
      {% for agent in agents %}
  
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ agent.first_name }}</td>
              <td>{{ agent.last_name}}</td>
              <td>{{ agent.email}}</td>
              <td>
              <form  id="form" name = "form" action = "" method = "POST">{% csrf_token %}
                <input type="hidden" id="agent_id" name="agent_id" value= "{{agent.agent_id }}">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">Details |</button>
              </form>
              <form  id="form" name = "form" action = "{% url 'updateAgent' %}" method = "POST">{% csrf_token %}
                <input type="hidden" id="agent_id" name="agent_id" value= "{{agent.agent_id }}">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">Update |</button>
              </form>
              <form  id="form" name = "form" action = "" method = "POST">{% csrf_token %}
                <input type="hidden" id="agent_id" name="agent_id" value= "{{agent.agent_id }}">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">Delete |</button>
              </form>
              </td>
            </tr>
          </tbody>
      {% endfor %}
  </table>
      </div>
{% endblock %} 