<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>DataScienceWorks - CallAI</title>

<!-- Bootstrap core CSS -->
<link href="../static/static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../static/static/css/carousel.css" rel="stylesheet">
<link href="../static/static/css/heroes.css" rel="stylesheet">
<link href="../static/static/css/product.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

</style>

</head>

<body>

	<header>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

			<div class="container-fluid">

				<!-- style="background-color:white;" -->
				<a class="navbar-brand" href="index.html"> <img
					src="../static/static/images/dswlogo.svg" alt="" width="30" height="24"
					class="d-inline-block align-text-top"> DataScienceWorks
				</a>
				<a class="navbar-brand" href="index.html">login</a>
			</div>
		</nav>

	</header>

	<main>

		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="col-md-5 p-lg-5 mx-auto my-5">
				<h1 class="display-4 font-weight-normal">Dialogue Neural Engine</h1>
				<p class="lead font-weight-normal">Upload a .txt file containing Agent-Customer Dialogue</p>
				
				<tr>
					<!--<td><input type="file" id="fileToLoad" class="btn btn-outline-secondary"></td>
					<td><button onclick="loadFileAsText()" class="btn btn-outline-secondary">Load Selected File</button></td>-->
					<form action="{{ url_for('uploader')}}" method="POST" enctype = "multipart/form-data">

					<input type="file" name="file" id="myFile" multiple size="50" onchange="fileLoader()" class="btn btn-outline-secondary">
					<br><br>
					<textarea id="demo" style="width:400px;height:150px;"></textarea>
					<br>
					<!--<input type = "file" name="file">-->
					<input type="submit" btn btn-outline-secondary" value="Upload">
					</form>
				</tr>
				
				<br>
				{{ fileupload_output_text }}
				<br>

				<!--
				{{ prediction_text }}
				{{ test_text }}-->
				

			</div>
			<div class="product-device box-shadow d-none d-md-block"></div>
			<div
				class="product-device product-device-2 box-shadow d-none d-md-block"></div>
		</div>

		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="col-md-5 p-lg-5 mx-auto my-5">
			
				<tr>
					<form action="{{ url_for('predictL0')}}" method="POST">
						<button type="submit" class="btn btn-lg btn-primary">Level 0 Modelling</button>
						<!--<br></br>
						<textarea id="demo" style="width:500px;height:550px;"></textarea>-->
					</form>
					<br>
					<p class="lead font-weight-normal">Uploaded txt or Output of Level-0 Modelling</p>
				</tr>
			
			{{text_output_file| safe}}

			</div>
			<div class="product-device box-shadow d-none d-md-block"></div>
			<div
				class="product-device product-device-2 box-shadow d-none d-md-block"></div>
		</div>


		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="col-md-5 p-lg-5 mx-auto my-5">

				<form action="{{ url_for('predictL0Sup')}}" method="POST">
					
					<p class="lead font-weight-normal">If you are not happy with the above output, provide, the details of 
						Agent's and Customers sample segments, in the call. If you are happy, just proceed to Next step. 
					</p>
	
					<div class="form-group" id="otherFieldGroupDiv">
					  <div class="row">
						<div class="col-6">
						  <label for="otherField1">Agent Sample Start</label>
						  <input type="text" class="form-control w-100" name="agentstart">
						  <label for="otherField1">Agent Sample End</label>
						  <input type="text" class="form-control w-100" name="agentend">
						</div>

						<div class="col-6">
						  <label for="otherField2">Customer Sample Start</label>
						  <input type="text" class="form-control w-100" name="customerstart">
						  <label for="otherField2">Customer Sample End</label>
						  <input type="text" class="form-control w-100" name="customerend">
						</div>

					  </div>
					</div>
					<br></br>
					<button type="submit" class="btn btn-lg btn-primary">Level 0 Supervised Modelling</button>
					
				  </form>

				  {{sup_text_output_file| safe}}

			</div>
			<div class="product-device box-shadow d-none d-md-block"></div>
			<div
				class="product-device product-device-2 box-shadow d-none d-md-block"></div>
		</div>

		

		
		<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
			<div
				class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">Breakdown of Dialogue</h2>
					<p class="lead">How much time is spent in each category?.</p>

					<canvas id="myChart2" style="width:100%;max-width:700px"></canvas>

				</div>
				
			</div>
			<div
				class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">Score across each Category</h2>
					<p class="lead">Agent's performance in each category.</p>
					
					<canvas id="myChart" style="width:100%;max-width:700px"></canvas>

				</div>
				
			</div>
		</div>

		<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
			<div
				class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">Customer Sentiment</h2>
					<p class="lead">What is customer sentiment during/after the call.</p>
					<font size="32"><p>{{sentiment_output}}</p></font>
				</div>
			</div>
			<div
				class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">Overall Score</h2>
					<p class="lead">Based on pre-specified Criteria.</p>
					<font size="32"><p>{{overall_score_output}}</p></font>
				</div>
			</div>
		</div>

		<div class="b-example-divider"></div>

		<hr class="featurette-divider">


		<!-- FOOTER -->
		<footer class="container">
			<p class="float-end">
				<a href="#">Back to top</a>
			</p>
			<p>&copy; 2017 – To Date, DataScienceWorks Pty Ltd. - ABN: 31 653 196 082</p>
		</footer>

	</main>

	<script src="../static/static/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

	<script>
		var xValues = ["Greetings", "Engagement", "Problem Investigation", "Problem Resolution", "Closure", "Account Verification"];
		var barColors = ["red", "green", "blue", "orange", "brown", "cyan"];
		//var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145", "#cc65fe", "#ffce56",];
		//var yValues = [10,20,30,40,50,60]
		var yValues = '{{categories_ratio_output}}'

		new Chart("myChart2", {
		  type: "pie",
		  data: {
			labels: xValues,
			datasets: [{
			  backgroundColor: barColors,
			  data: yValues
			}]
		  },
		  options: {
			title: {
			  display: true,
			  text: "Percentage of each component"
			}
		  }
		});
	</script>
	
	<script>
		var xValues = ["Greetings", "Engagement", "Problem Investigation", "Problem Resolution", "Closure", "Account Verification"];
		var barColors = ["red", "green", "blue", "orange", "brown", "cyan"];
		//var yValues = [55, 49, 44, 24, 15, 5];
		var yValues = '{{categories_score_output}}'
		
		new Chart("myChart", {
		  type: "bar",
		  data: {
			labels: xValues,
			datasets: [{
			  backgroundColor: barColors,
			  data: yValues
			}]
		  },
		  options: {
			legend: {display: false},
			title: {
			  display: true,
			  text: "Score Range [0-100]"
			}
		  }
		});
		</script>

<script>
function fileLoader() {
    var x = document.getElementById("myFile");
    var txt = "";
    if ('files' in x) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        } else {
            for (var i = 0; i < x.files.length; i++) {
                txt += (i+1) + ". file";
                var file = x.files[i];
                if ('name' in file) {
                    txt += "name: " + file.name + "";
                }
                if ('size' in file) {
                    txt += ", size: " + file.size + " bytes ";
                }
            }
        }
    } 
    else {
        if (x.value == "") {
            txt += "Select one or more files.";
        } else {
            txt += "The files property is not supported by your browser!";
            txt  += "The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
        }
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>

</body>
</html>
